{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        "inline-react-svg",
        ["styled-components",
            {
                "ssr": true,
                "displayName": true,
                "preprocess": false
            }
        ],
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@components": "./src/components",
                    "@api": "./src/api",
                    "@hooks": "./src/hooks",
                    "@services": "./src/services",
                    "@typeDefs": "./src/types",
                    "@public": "./public"
                }
            }
        ]
    ]
}